<td class="firstName">
	<%= firstName %>
</td>
<td class="lastName">
	<%= lastName %>
</td>
<td class="email">
	<%= email %>
</td>

<td class="modal-button">
	<button class="btn btn-success update-donor" style="display:none">
		Update
	</button>
	<button class="btn btn-danger cancel" style="display:none">Cancel</button>
	<button
		type="button"
		class="btn btn-primary toggle-donor"
		data-toggle="modal"
		data-target="#exampleModalLong"
		data-id="<%"
		_id
		%
	>
		>Open Donor
	</button>
</td>
